[submodule "DisplayService"]
	path = DisplayService
	url = git@github.com:PI-PropertEase/DisplayService.git
[submodule "UserService"]
	path = UserService
	url = git@github.com:PI-PropertEase/UserService.git
[submodule "ExternalServices"]
	path = ExternalServices
	url = git@github.com:PI-PropertEase/ExternalServices.git
[submodule "PropertyService"]
	path = PropertyService
	url = git@github.com:PI-PropertEase/PropertyService.git
[submodule "CalendarService"]
	path = CalendarService
	url = git@github.com:PI-PropertEase/CalendarService.git
